<div class="col d-flex justify-content-left">
  <button
    (click)="processRadio('yes')"
    [ngClass]="{ 'btn-selected': yesSelected }"
    class="btn"
  >
    Yes
  </button>
  <button
    (click)="processRadio('no')"
    [ngClass]="{ 'btn-selected': noSelected }"
    class="btn"
  >
    No
  </button>
  <!-- <mat-radio-group hidden aria-label="Select an option">
        <mat-radio-button [checked]="yesSelected" value="1">Option 1</mat-radio-button>
        <mat-radio-button [checked]="noSelected" value="2">Option 2</mat-radio-button>
    </mat-radio-group> -->
</div>
