<div class="bg-green heading-div">
  <img
    class="tag-img"
    src="./assets/Searching applicable rebates and incentives.svg"
  />
  <p class="product-list-heading mb-0">
    Your project qualifies you for <b>incentives!</b>
  </p>
  
</div>
<div *ngIf="!errorText" class="container">
  <h5 class="primary-color info-header">
    Your Hybrid Electric Water Heater Recommended Options
  </h5>
</div>
<div *ngIf="!errorText" class="product-details-div">
  <div
    class="product-details"
    *ngFor="let eachProduct of productsToBeDisplayed"
  >
    
    <div class="row product-heading">
      <div class="manufacture-info col-8">
        <h5 class="manufacturer-name">{{ eachProduct.manufacturer_name }}</h5>
        <p class="product-name">{{ eachProduct.name }}</p>
      </div>
      <div class="col-4 heading-info">
        <p class="decimal-val">3.4 ef</p>
        <div class="info-icon">
          <img class="info-img" src="./assets/info-tooltip-light.svg" />
        </div>
        <img class="logo" src="./assets/Energy_Star_logo.svg.png" />
      </div>
    </div>
    <div class="product-description">
      <div class="row description-1">
        <div class="col-4">
          <img class="img-1" src="{{ eachProduct.img}}" />
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-2 bullet">
              <img
                class="bullet-cicle"
                src="./assets/circle-doodle-svgrepo-com.svg"
              />
            </div>
            <div class="col-10 bullet-text">
              <p>Leak detection with auto water shut-off</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 bullet">
              <img
                class="bullet-cicle"
                src="./assets/circle-doodle-svgrepo-com.svg"
              />
            </div>
            <div class="col-10 bullet-text">
              <p>Control from your smart phone</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 bullet">
              <img
                class="bullet-cicle"
                src="./assets/circle-doodle-svgrepo-com.svg"
              />
            </div>
            <div class="col-10 bullet-text">
              <p>Multiple operating modes</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2 bullet">
              <img
                class="bullet-cicle"
                src="./assets/circle-doodle-svgrepo-com.svg"
              />
            </div>
            <div class="col-10 bullet-text">
              <p>10 year manufacturer warranty</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row hr">
        <hr class="cust-hr"/>
      </div>
      
    </div>
    <div class="pricing-details">
      <div class="base-price row">
        <div class="price col-3">
          <h6 class="mb-0">Base Price</h6>
        </div>
        <div class="dashed-line col-6">
          <hr class="mt-7 mb-0 hr-bot"/>
        </div>
        <div class="price-value col-3">
          <h6 class="mb-0">{{ eachProduct.base_price | currency }}</h6>
        </div>
      </div>
      <div class="row inst-text">
        <p class="installation-text mb-0">(Installation not included)</p>
      </div>

      <div class="incentives row">
        <div class="col-6 incentives-div">
          <p class="incentives-text mb-0">Available incentives</p>
          <div class="img-info">
            <img class="info-img" src="./assets/info-tooltip-light.svg" />
          </div>
        </div>
        <div class="dashed-line col-3">
          <hr class="mb-0 custom-hr"/>
        </div>
        <div class="col-3">
          <p class="mb-0 incentives-amount">
            {{ eachProduct.incentives.totalAppliedIncentives | currency }}
          </p>
        </div>
      </div>
      <div class="row equipment-cost">
        <div class="col-5">
          <h6 class="equipment-text">Equipment Cost</h6>
          <div class="img-info">
            <img class="info-img" src="./assets/info-tooltip-light.svg" />
          </div>
        </div>
        <div class="dashed-line col-3">
          <hr class="mb-0 custom-hr"/>
        </div>
        <div class="col-4 secondary-color">
          <p>{{ eachProduct.netCost | currency }}</p>
        </div>
        <div>
          <div class="annual-est">
            <p class="annual-est-text">
              Your Est. Annual Savings is
              <span class="primary-color">{{
                eachProduct.est_annual_savings_cal | currency
              }}</span>
            </p>
            <div class="img-info">
              <img class="info-img mb-1" src="./assets/info-tooltip-light.svg" />
            </div>
          </div>
        </div>
        <div class="info-quote">
          <button class="quote-btn">Get Install Quote</button>
        </div>
        <button
          class="mat-raised-button more-details"
          (click)="openDialog(eachProduct.model_id)"
        >
          View More Details
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="errorText">
  <h4 class="error-msg">
    {{ errorText }}
  </h4>
</div>
<div class="more-options-div">
  <button class="btn more-options">See More Options</button>
</div>
