<div class="container">
  <h5>How Hybrid Electric Water Heaters Work</h5>
  <div class="bg-white">
    <mat-tab-group>
      <mat-tab label="Process">
        A hybrid electric water heater uses a compressor to take heat from the
        surrounding air and transfers it inside the water tank. It works
        similarly to a refrigerator, but in revserse. Thr "hybrid" component
        means that the water heater either via the heat pump, or, when the
        surrounding air is too cold, it can heat the same as a conventional
        electric water heater. This means your water heating is as efficient as
        possible, and also ensures you have hot water in all environments.
        <img class="hpwh-img" src="/assets/hpwh-process-tab.png" />
      </mat-tab>
      <mat-tab label="Components"> Content 2 </mat-tab>
    </mat-tab-group>
  </div>
</div>
