@import "../../styles.scss";

.heater-advantages {
    display: inline-block;
}

.advantage-heading {
    display: inline-block;
}

.description {
    padding-right: 33%;
}

.advantages-info {
    border-bottom: 2px solid $lightgray;
    padding-bottom: 2%;
}
