<form>
  <div class="container">
    <h4 class="margin-top primary-color main-heading">
      Tell us About Your Project
    </h4>
    <div class="margin-top row location-type-div">
      <label for="location">Location</label>
      <div class="form-group col-7 location-div">
        <input class="location form-control" id="location" type="text" />
      </div>
      <div class="form-group col-4 family-type-div">
        <mat-select class="family-type" [(value)]="familyType">
          <mat-option value="Single-Family">Single-Family</mat-option>
          <mat-option value="Large-Family">Large-Family</mat-option>
          <mat-option value="Joint-Family">Joint-Family</mat-option>
        </mat-select>
      </div>
      <div class="col-1 search-icon">
        <img src="../../assets/search-bar.svg" />
      </div>
    </div>
    <div class="margin-top form-group">
      <label for="heater-size">Size your water heater</label>
      <div class="info-icon">
        <img src="../../assets/info-tooltip.svg" />
      </div>
      <div class="row slider-div">
        <div class="div-slider col-9">
          <mat-slider
            name="slider"
            class="slider"
            [(ngModel)]="sliderVal"
            min="30"
            max="80"
            step="10"
          ></mat-slider>
        </div>
        <div class="col-3 gallons-info">
          <p class="gallon-text abc">{{ sliderVal }} Gallons</p>
          <p *ngIf="sliderVal <= 50" class="gallon-text">(3-5 people)</p>
          <p *ngIf="sliderVal > 50 && sliderVal <= 60" class="gallon-text">
            (5-8 people)
          </p>
          <p *ngIf="sliderVal > 60" class="gallon-text">(8-10 people)</p>
        </div>
      </div>
    </div>
    <div class="margin-top form-group">
      <label>What is your current water heater fuel type?</label>
      <mat-select class="family-type fuel-type" [(value)]="fuelType">
        <mat-option value="Natural Gas">Natural Gas</mat-option>
      </mat-select>
    </div>
    <div class="form-group margin-top">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">yes</mat-radio-button>
        <mat-radio-button value="2">no</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</form>
