<form class="heater-form">
  <div class="container side-menu">
    <h4 class="margin-top primary-color main-heading">
      Tell us About Your Project
    </h4>
    <div class="margin-top row location-type-div">
      <label for="location">Location</label>
      <div class="form-group location-div">
        <input class="location form-control border-radius-left" id="location" type="text" />
      </div>
      <div class="form-group family-type-div">
        <mat-select class="family-type border-radius-right" [(value)]="familyType">
          <mat-option value="Single-Family">Single-Family</mat-option>
          <mat-option value="Large-Family">Large-Family</mat-option>
          <mat-option value="Joint-Family">Joint-Family</mat-option>
        </mat-select>
      </div>
      <div class="search-icon">
        <img src="./assets/search-bar.svg" />
      </div>
    </div>
    <div class="margin-top form-group">
      <label for="heater-size">Size your water heater</label>
      <div class="info-icon">
        <img class="info-icon-img" src="./assets/info-tooltip-light.svg" />
      </div>
      <div class="row slider-div">
        <div class="div-slider col-7">
          <mat-slider
            name="slider"
            class="slider"
            [(ngModel)]="sliderVal"
            min="30"
            max="80"
            step="5"
            (input)="getSliderValue($event)"
          ></mat-slider>
        </div>
        <div class="col-5 gallons-info">
          <p class="gallon-text">{{ sliderVal }} Gallons</p>
          <p *ngIf="sliderVal <= 50" class="gallon-text">(3-5 people)</p>
          <p *ngIf="sliderVal > 50 && sliderVal <= 60" class="gallon-text">
            (5-8 people)
          </p>
          <p *ngIf="sliderVal > 60" class="gallon-text">(8-10 people)</p>
        </div>
      </div>
    </div>
    <div class="margin-top form-group">
      <label>What is your current water heater fuel type?</label>
      <mat-select class="family-type fuel-type" [(value)]="fuelType">
        <mat-option value="Natural Gas">Natural Gas</mat-option>
      </mat-select>
    </div>
    <div class="form-group margin-top">
      <label>Is this a water heater emergency?</label>
      <div class="info-icon">
        <img class="info-icon-img" src="./assets/info-tooltip-light.svg" />
      </div>
      <div>
        <button
        (click)="processRadio('no')"
        [ngClass]="{ 'btn-selected': noSelected }"
        class="btn-no btn emergency emergency-left"
      >
        No
      </button>
      <button
        (click)="processRadio('yes')"
        [ngClass]="{ 'btn-selected': yesSelected }"
        class="btn emergency emergency-right"
      >
        Yes
      </button>
      <mat-radio-group hidden aria-label="Select an option">
        <mat-radio-button [checked]="yesSelected" value="1"
          >Option 1</mat-radio-button
        >
        <mat-radio-button [checked]="noSelected" value="2"
          >Option 2</mat-radio-button
        >
      </mat-radio-group>
      </div>
     
    </div>

    <!-- <div class="form-group margin-top">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">yes</mat-radio-button>
        <mat-radio-button value="2">no</mat-radio-button>
      </mat-radio-group>
    </div> -->
  </div>
</form>
